#Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f3f3f3;
}

#Home > form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
