#Navbar {
  display: flex;
  background-color: #045b62;
}
#Navbar > .link {
  text-decoration: none;
  color: white;
  padding: 20px;
  transition: 0.2s;
}

#Navbar > .link:hover {
  color: #ffca28;
}

#Navbar > .active {
  color: #ffca28;
}
